<html lang='en'>
  <body style="font-family: 'Roboto', sans-serif; width: 100%; margin: 20px auto;">
    <div style='text-align: center'>
      <!-- <img style='max-width: 100%; height: auto;' width='175px' height='175px' src='cid:aplogo'> -->
    </div>
    <h2 style="line-height: normal; text-align: center;">EdgeCommerce</h2>
    <br><br>
    <div style="line-height: normal; font-size: 14px; text-align: start">
      <p>Dear user,</p>
      <br>
      <p>Welcome to EdgeCommerce. Thank you for taking interest to become one our key partners. Unfortunately, your account request has been rejected due to invalid data or offensive words. Please make sure to enter correct information.<p>
      <br>
    </div>
  </body>
</html>
