<html lang='en'>
  <body style="font-family: 'Roboto', sans-serif; width: 100%; margin: 20px auto;">
    <div style='text-align: center'>
      <!-- <img style='max-width: 100%; height: auto;' width='175px' height='175px' src='cid:aplogo'> -->
    </div>
    <h2 style="line-height: normal; text-align: center;">EdgeCommerce</h2>
    <br><br>
    <div style="line-height: normal; font-size: 14px; text-align: start">
      <p>Dear user,</p>
      <br>
      <p>You have requested password reset. Use the link below to proceed. If you're not the one requesting a password reset, please disregard.<p>
      <p>This link will expire in 48 hours.</p>
      <br>
      <a href="{{ link }}" target="_blank">{{ link }}</a>
    </div>
  </body>
</html>
